# # Default presets
# Basic fields to use
base:
    - gene
    - impact
    - is_lof
    - chrom
    - start
    - end
    - ref
    - alt
    - filter
    - vep_pick
    - transcript
    - vep_hgvsc
    - vep_hgvsp
    - vep_brcaex_hgvs_cdna
    - vep_brcaex_hgvs_protein
    - vep_brcaex_clinical_significance_enigma
    - vep_brcaex_date_last_evaluated_enigma
    - num_het
    - num_hom_alt

# Fields for exploring variants
explore:
    # Population frequencies
    - vep_exac_af
    - vep_exac_af_nfe
    - vep_gnomad_af_nfe
    # Effect prediction
    - vep_cadd_phred
    - vep_cadd_raw
    - vep_rvl_revel_score
    - polyphen_pred
    - polyphen_score
    - sift_pred
    - sift_score
    # Splicing effect prediction
    - vep_ada_score
    - vep_rf_score
    - vep_maxentscan_alt
    - vep_maxentscan_diff
    - vep_maxentscan_ref

# Modify the below list to change the preferred transcript list
# List of transcripts to use over the annotation blocks chosen by VEP
transcripts:
    - BRCA1:NM_007294.3
    - BRCA2:NM_000059.3

# # User Presets
# Construct lists of fields (as above)
